<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>房东信息</title>
    <link rel="stylesheet" href="/assets/css/layui.css">
</head>

<body>
    <div class="layui-fluid">
        <div class="layui-card">
            <!--查询条件-->
            <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="query-customerTable"
                style="padding-top:20px;margin-top:10px;">
                <div class="layui-form-item" id="query-customerTable">
                    <!--房屋状态-->
                    <label class="layui-form-label" style="width:60px;padding:9px 10px;">房屋状态</label>
                    <div class="layui-input-inline">
                        <select id='status' name="status">
                        </select>
                    </div>
                    <!--装修状态-->
                    <label class="layui-form-label" style="width:60px;padding:9px 10px;">装修状态</label>
                    <div class="layui-input-inline">
                        <select id='decorateStatus' name="decorateStatus">
                        </select>
                    </div>
                    <!--登记人-->
                    <label class="layui-form-label" style="width:60px;padding:9px 10px;">登记人</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" name='createUser'>
                    </div>
                    <!--房主电话-->
                    <label class="layui-form-label" style="width:60px;padding:9px 10px;">房主电话</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" id="phone" name='phone'>
                    </div>
                </div>
                <div class="layui-form-item">
                    <!--小区名称-->
                    <label class="layui-form-label" style="width:60px;padding:9px 10px;">小区名称</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" name='cellName'>
                    </div>
                    <!--房号-->
                    <label class="layui-form-label" style="width:60px;padding:9px 10px;">房号</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" name='houseNum'>
                    </div>
                    <!--楼层-->
                    <label class="layui-form-label" style="width:60px;padding:9px 10px;">楼层</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" name='floor'>
                    </div>
                    <!--厅室-->
                    <label class="layui-form-label" style="width:60px;padding:9px 10px;">厅室</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" name='room'>
                    </div>
                    <button lay-submit lay-filter='query' class="layui-btn" style="margin-bottom: 5px">查询</button>
                    <button lay-submit lay-filter='clear' class="layui-btn" style="margin-bottom: 5px">清空</button>
                </div>
            </div>
            <!--表格显示-->
            <div class="layui-card-body">
                <table class="layui-hide" id="table-customerTable" lay-filter="table-customerTable"></table>
            </div>
        </div>
    </div>

    <!--头工具栏-->
    <script type="text/html" id="toolbarCustomer">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="insert">新增</button>
        </div>
    </script>

    <!--行工具栏-->
    <script type="text/html" id="barCustomer">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>

    <!--字段模板-->
    <!--phone-->
    <script type="text/html" id="phoneTpl">
        {{#  if(d.phone != null && d.phone != ""){ }}
        <a class="layui-btn layui-btn-xs layui-btn-radius layui-btn-danger" lay-event="viewPhone"
            style="color: #FFFFFF;">查看</a>
        {{#  } else { }}
        <a style="color: #DC143C;">无</a>
        {{#  } }}
    </script>
    <!--houseNum-->
    <script type="text/html" id="houseNumTpl">
        {{#  if(d.houseNum != null && d.houseNum != ""){ }}
        <a class="layui-btn layui-btn-xs layui-btn-radius layui-btn-danger" lay-event="viewHouseNum"
            style="color: #FFFFFF;">查看</a>
        {{#  } else { }}
        <a style="color: #DC143C;">无</a>
        {{#  } }}
    </script>

    <script src="/assets/layui.js"></script>
    <script>
        layui.extend({
            core: '{/}/assets/core/index', //核心模块
            exd: '{/}/assets/extends/extend' //扩展模块
        }).use(['layer', 'table', 'jquery', 'form', 'core', 'exd'], function () {
            var $ = layui.jquery,
                layer = layui.layer,
                table = layui.table,
                form = layui.form,
                admin = layui.admin,
                config = layui.setter,
                global = layui.global,
                dictpl = layui.dictpl;

            //***1.变量定义***
            var url = config.datamanage.url; //后端请求地址
            var localTest = layui.sessionData('login'); //获取表
            var type = localTest.userInfo[4].type, //管理员标识
                name = localTest.userInfo[1].name; //当前 用户姓名

            //***2.方法定义***
            var active = {
                //1.表格加载
                tableInit: function () {
                    table.render({
                        //(1)基本设置
                        elem: '#table-customerTable',
                        height: 'full-200',
                        toolbar: '#toolbarCustomer',

                        //(2)异步请求
                        url: url + 'customer/query',
                        method: 'post',
                        contentType: "application/json", //发送到服务单的编码
                        where: {
                            modifyTime: type
                        },
                        page: true,
                        limit: 10,
                        request: {
                            pageName: "page",
                            limitName: "limit"
                        },
                        parseData: function (res) {
                            return {
                                code: res.code,
                                msg: res.msg,
                                count: res.count,
                                data: res.data
                            }
                        },
                        //(3)表头设置
                        cols: [
                            [{
                                type: 'checkbox'
                            },
                            {
                                field: 'jlbh',
                                title: '记录编号',
                                hide: true
                            },
                            {
                                field: 'name',
                                title: '姓名',
                                width: 100
                            },
                            {
                                field: 'phone',
                                title: '电话',
                                width: 80,
                                templet: '#phoneTpl'
                            },
                            {
                                field: 'cellName',
                                title: '小区名称'
                            },
                            {
                                field: 'houseNum',
                                title: '房号',
                                width: 80,
                                templet: '#houseNumTpl'
                            },
                            {
                                field: 'area',
                                title: '面积',
                                width: 80,
                                sort: true
                            },
                            {
                                field: 'status',
                                title: '状态',
                                width: 80,
                                templet: '<div> {{# var fn = ' + dictpl.render('状态') +
                                    ' }} {{ fn(d.status) }} </div>'
                            },
                            {
                                field: 'price',
                                title: '价格(万)',
                                width: 100,
                                sort: true
                            },
                            {
                                field: 'room',
                                title: '厅室',
                                width: 80,
                                sort: true
                            },
                            {
                                field: 'decorateStatus',
                                title: '装修',
                                width: 80,
                                templet: '<div> {{# var fn = ' + dictpl.render('装修状态') +
                                    ' }} {{ fn(d.decorateStatus) }} </div>'
                            },
                            {
                                field: 'floor',
                                title: '楼层',
                                width: 80,
                                sort: true
                            },
                            {
                                field: 'createUser',
                                width: 100,
                                title: '登记人'
                            },
                            {
                                field: 'modifyTime',
                                title: '修改时间',
                                sort: true
                            },
                            {
                                title: '操作',
                                width: 120,
                                toolbar: '#barCustomer'
                            }
                            ]
                        ],
                    })
                },

                //2.表格重载
                tableRelaod: function (sParam) {
                    debugger
                    table.reload('table-customerTable', {
                        where: sParam,
                        page: {
                            curr: 1
                        }
                    })
                },

                //3.登记修改
                pop: function (data) {
                    var sparam = {};
                    sparam.title = '房屋登记'; //标题
                    sparam.width = '1000px'; //宽度
                    sparam.height = '620px'; //高度
                    sparam.id = 'customer'; //内容div的id
                    sparam.view = '../view'; //加载的页面路径
                    sparam.url = 'customer/save';
                    sparam.data = data; //传入弹出层的参数
                    sparam.callback = function () {
                        active.tableRelaod({});
                    }
                    sparam.button = 'form-submit-unit'; //按钮
                    global.pop(sparam);
                }
            }


            //******3.初始化******
            global.pickDic({
                saleStatus: '租售状态',
                decorateStatus: '装修状态',
                status: '状态'
            }); //字典初始化
            active.tableInit(); //表格初始化


            //******4.事件监听******
            //1.监听行工具栏
            table.on('tool(table-customerTable)', function (obj) {
                var jlbh = obj.data.jlbh;
                var sEvent = obj.event;
                if (sEvent == 'edit') {
                    debugger
                    //非管理员只能编辑自己登记的信息
                    if (type != '1') {
                        var createUser = obj.data.createUser; //信息登记人
                        if (name != createUser) {
                            layer.alert('此信息非您本人登记，您无权修改！', {
                                icon: 2
                            });
                            return
                        }
                    }
                    active.pop(obj.data);
                } else if (sEvent == 'del') {
                    //非管理员不能删除
                    if (type != '1') {
                        layer.alert('您非管理员，无权限删除！', {
                            icon: 2
                        });
                        return
                    }
                    layer.open({
                        content: '您确定删除此纪录吗？',
                        btn: ['确定', '取消'],
                        yes: function (index, layero) {
                            var sparam = {};
                            sparam.url = 'customer/del',
                                sparam.method = 'post',
                                sparam.entity = {
                                    jlbh: jlbh
                                },
                                sparam.callback = function () {
                                    layer.close(index);
                                    active.tableRelaod({});
                                }
                            global.commonDel(sparam);
                        }
                    })
                } else if (sEvent == 'viewPhone') {
                    layer.alert(obj.data.phone, {
                        icon: 4
                    });
                } else if (sEvent == 'viewHouseNum') {
                    layer.alert(obj.data.houseNum, {
                        icon: 4
                    });
                }
            })

            //2.监听头工具栏
            table.on('toolbar(table-customerTable)', function (obj) {
                switch (obj.event) {
                    case 'insert':
                        active.pop({});
                };
            })

            //3.查询
            form.on('submit(query)', function (data) {
                debugger
                // var sCondition = data.field;
                // sCondition.modifyTime = type; //用来判断是否未管理员
                active.tableRelaod(data.field);
            })

            //4.清空
            form.on('submit(clear)', function (data) {
                var sCondition = layui.jutil.empty(data.field);
                form.val("query-customerTable", sCondition);
                active.tableRelaod(sCondition);
            })
        });
    </script>
</body>

</html>