<div>
    <div class="layui-tab" lay-filter="photo">
        <ul class="layui-tab-title">
            <li class="layui-this">基本信息</li>
            <li lay-id = 'photo'>照片信息</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div class="layui-form" lay-filter="layuiadmin-app-form-list">
                    <!--jlbh(隐藏)-->
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <input type="hidden" id="pop_jlbh" name="jlbh" placeholder="记录编号" autocomplete="off"
                                class="layui-input">
                        </div>
                    </div>

                    <!--姓名、身份证号、电话-->
                    <div class="layui-form-item">
                        <label class="layui-form-label">姓名</label>
                        <div class="layui-input-inline">
                            <input type="text" id="pop_name" name="name" placeholder="请输入姓名" autocomplete="off"
                                class="layui-input">
                        </div>
                        <label class="layui-form-label">身份证号</label>
                        <div class="layui-input-inline">
                            <input type="text" id="pop_card" name="card" placeholder="请输入身份证号" autocomplete="off"
                                class="layui-input">
                        </div>
                        <label class="layui-form-label"><span style="color: red;">*</span>电话</label>
                        <div class="layui-input-inline">
                            <input type="text" id="pop_phone" name="phone" lay-verify="required" placeholder="请输入电话"
                                autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <!--面积、小区名称、房号-->
                    <div class="layui-form-item">
                        <label class="layui-form-label"><span style="color: red;">*</span>面积</label>
                        <div class="layui-input-inline">
                            <input type="text" id="pop_area" name="area" lay-verify="required" placeholder="请输入面积"
                                autocomplete="off" class="layui-input">
                        </div>
                        <label class="layui-form-label"><span style="color: red;">*</span>小区名称</label>
                        <div class="layui-input-inline">
                            <input type="text" id="pop_cellName" name="cellName" lay-verify="required"
                                placeholder="请输入小区名称" autocomplete="off" class="layui-input">
                        </div>
                        <label class="layui-form-label">房号</label>
                        <div class="layui-input-inline">
                            <input type="text" id="pop_houseNum" name="houseNum" placeholder="请输入房号" autocomplete="off"
                                class="layui-input">
                        </div>
                    </div>

                    <!--租售状态、房屋价格、厅室-->
                    <div class="layui-form-item">
                        <label class="layui-form-label">租售状态</label>
                        <div class="layui-input-inline">
                            <select name="saleStatus" id="pop_saleStatus">
                            </select>
                        </div>
                        <label class="layui-form-label">价格</label>
                        <div class="layui-input-inline">
                            <input type="text" id="pop_price" name="price" placeholder="请输入价格" autocomplete="off"
                                class="layui-input">
                        </div>
                        <label class="layui-form-label">厅室</label>
                        <div class="layui-input-inline">
                            <input type="text" id="pop_room" name="room" lay-verify="number" placeholder="请输入厅室"
                                autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <!--装修状态、楼层、房屋状态-->
                    <div class="layui-form-item">
                        <label class="layui-form-label">装修状态</label>
                        <div class="layui-input-inline">
                            <select name="decorateStatus" id="pop_decorateStatus">
                            </select>
                        </div>
                        <label class="layui-form-label">楼层</label>
                        <div class="layui-input-inline">
                            <input type="text" id="pop_floor" name="floor" lay-verify="number" placeholder="请输入楼层"
                                autocomplete="off" class="layui-input">
                        </div>
                        <label class="layui-form-label"><span style="color: red;">*</span>状态</label>
                        <div class="layui-input-inline">
                            <select name="status" id="pop_status" lay-verify="required">
                            </select>
                        </div>
                    </div>

                    <!--房东备注-->
                    <div class="layui-form-item">
                        <label class="layui-form-label">备注</label>
                        <div class="layui-input-inline" style="width:810px;">
                            <textarea id="pop_memo" name="memo" placeholder="请输入备注" class="layui-textarea"></textarea>
                        </div>
                    </div>

                    <!--登记时间、登记人员、修改时间-->
                    <div class="layui-form-item">
                        <label class="layui-form-label">登记时间</label>
                        <div class="layui-input-inline">
                            <input type="text" id="pop_createTime" name="createTime" placeholder="请输入登记时间"
                                autocomplete="off" class="layui-input" readonly>
                        </div>
                        <label class="layui-form-label">登记人员</label>
                        <div class="layui-input-inline">
                            <input type="text" id="pop_createUser" name="createUser" placeholder="请输入登记人员"
                                autocomplete="off" class="layui-input" readonly>
                        </div>
                        <label class="layui-form-label">修改时间</label>
                        <div class="layui-input-inline">
                            <input type="text" id="pop_modifyTime" name="modifyTime" placeholder="请输入修改时间"
                                autocomplete="off" class="layui-input" readonly>
                        </div>
                    </div>

                    <!--提交按钮-->
                    <div class="layui-form-item">
                        <label class="layui-form-label"></label>
                        <input type="button" lay-filter='saveCustomerBtn' lay-submit value="确认" class="layui-btn"
                            style="float:right;margin-right: 10px; ">
                    </div>
                </div>
            </div>
            <div class="layui-tab-item">
                <div class="layui-btn-container">
                    <button id="insert" class="layui-btn layui-btn-sm">添加图片</button>
                </div>
                <table class="layui-hide" id="table-customerPic" lay-filter="table-customerPic"></table>
            </div>
        </div>
    </div>

</div>

<script type="text/html" id="barCustomerFj">
    <a class="layui-btn layui-btn-xs" lay-event="view">查看</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<!--动态模板定义-->
<script type="text/html" template lay-done="layui.data.done(d)">
</script>

<script>
    layui.data.done = function (d) {
        var sParam = d.params;
        layui.use(['global', 'form', 'table', 'upload', 'element'], function () {
            var $ = layui.jquery,
                form = layui.form,
                global = layui.global,
                table = layui.table,
                config = layui.setter,
                upload = layui.upload,
                element = layui.element;

            //1.变量定义
            var jlbh = sParam.jlbh,
                url = config.datamanage.url;

            //字典初始化
            global.pickDic({
                pop_saleStatus: '租售状态',
                pop_decorateStatus: '装修状态',
                pop_status: '状态'
            });

            //用户session
            var localTest = layui.sessionData('login'); //获取表
            var username = localTest.userInfo[1].name; //获取属性

            //2.方法定义
            var active = {
                //1.保存客户信息
                saveCustomer: function (entity) {
                    //修改时间赋值
                    debugger
                    entity.modifyTime = new Date().Format("yyyy-MM-dd hh:mm:ss");
                    var param = {};
                    param.url = 'customer/save',
                        param.method = 'post',
                        param.entity = entity,
                        param.callback = function () {
                            layer.closeAll();
                            sParam.callback();
                        }
                    global.commonAdd(param);
                },

                //2.附件信息
                //2-1.表格初始化
                tableInit_customerPic: function () {
                    table.render({
                        //(1)基本设置
                        elem: '#table-customerPic',
                        height: 'full-200',
                        // toolbar: '#toolbarCustomer',
                        //(2)异步请求
                        url: url + 'upload/query',
                        method: 'post',
                        contentType: "application/json",  //发送到服务端的编码
                        where: { jlbh: jlbh },  //请求条件
                        page: true,
                        limit: 10,
                        request: {  //传入后端的参数
                            pageName: "page",
                            limitName: "limit"
                        },
                        parseData: function (res) {  //将返回的数据格式解析成table数据格式
                            return {
                                code: res.code,
                                msg: res.message,
                                count: res.count,
                                data: res.data
                            }
                        },
                        //(3)表头设置
                        cols: [[
                            { type: 'checkbox' },
                            { field: 'jlbh', title: '记录编号', hide: true },
                            // { field: 'type', title: '类别', templet: '<div> {{# var fn = ' + dictpl.render('资料类型') + ' }} {{ fn(d.type) }} </div>' },
                            { field: 'name', title: '名称' },
                            { field: 'path', title: '路径' },
                            { field: 'createTime', title: '登记时间' },
                            { title: '操作', toolbar: '#barCustomerFj' }
                        ]],
                    })
                },

                //2-2.表格重载
                tableRelaod_customerPic: function (sParam) {
                    table.reload('table-customerPic', {
                        where: sParam,
                        page: {
                            curr: 1
                        }
                    })
                },

                //2-3.图片上传
                uploadInit: function () {
                    upload.render({
                        //1.异步设置
                        elem: '#insert', //绑定元素
                        url: url + '/upload/saveFile', //上传接口
                        method: 'post',
                        //2.基本设置
                        multiple: true, //支持多个文件上传
                        number: 10, //最多上传文件数
                        done: function (res) {
                            debugger
                            //上传完毕回调
                            if (res.code == '0') {
                                var sName = res.data.name, //名称
                                    sPath = res.data.src, //服务器附件路径
                                    sCreateTime = new Date().Format('yyyy-MM-dd'); //登记时间
                                //新建附件记录
                                var sParam = {};
                                sParam.url = '/upload/save',
                                    sParam.method = 'post',
                                    sParam.entity = { glbh: jlbh, name: sName, path: sPath, createTime: sCreateTime },
                                    sParam.callback = function () {
                                        active.tableRelaod_customerPic({});
                                    }
                                global.commonAdd(sParam);
                                //重载记录
                            }
                        },
                        error: function () {
                            //请求异常回调
                        }
                    })
                }
            }

            //3.初始化
            //赋初值(普通字段)
            if (jlbh != null && jlbh != '') {
                $('#pop_jlbh').val(sParam.jlbh); //记录编号
                $('#pop_name').val(sParam.name); //房东姓名
                $('#pop_card').val(sParam.card); //房东身份证号
                $('#pop_phone').val(sParam.phone); //房东电话
                $('#pop_area').val(sParam.area); //房屋面积
                $('#pop_cellName').val(sParam.cellName); //小区名称
                $('#pop_houseNum').val(sParam.houseNum); //房号
                $('#pop_saleStatus').val(sParam.saleStatus); //房屋租售状态
                $('#pop_price').val(sParam.price); //房屋价格
                $('#pop_room').val(sParam.room); //房屋厅室
                $('#pop_decorateStatus').val(sParam.decorateStatus); //房屋装修状态
                $('#pop_floor').val(sParam.floor); //房屋楼层
                $('#pop_status').val(sParam.status); //房屋状态
                $('#pop_memo').val(sParam.memo); //房东备注
                if (typeof (sParam.createTime) == 'undefined') {
                    $('#pop_createTime').val(new Date().Format('yyyy-MM-dd')); //房东登记时间
                } else {
                    $('#pop_createTime').val(sParam.createTime);
                }
                $('#pop_createUser').val(sParam.createUser); //登记人员
                $('#pop_modifyTime').val(sParam.modifyTime); //修改时间
                //只读字段
                $('#pop_cellName').attr('readonly', true);
                $('#pop_houseNum').attr('readonly', true);
            } else {
                $('#pop_room').val(0);
                $('#pop_floor').val(0);
                $('#pop_createTime').val(new Date().Format('yyyy-MM-dd')); //房东登记时间
                $('#pop_createUser').val(username); //登记人员
            }

            active.tableInit_customerPic(); //表格初始化
            active.uploadInit(); //图片上传
            if(jlbh == null || jlbh == "") {
                element.tabDelete('photo', 'photo');
            }

            //4.事件监听
            //***分页1***
            //1.保存
            form.on('submit(saveCustomerBtn)', function (obj) {
                var entity = obj.field;
                if (jlbh != null && jlbh != '') {
                    active.saveCustomer(entity); //2.提交代码保存
                } else {
                    //1.是否重复录入(根据小区名称+房号判断)
                    var cellName = $('#pop_cellName').val(), //小区名称
                        houseNum = $('#pop_houseNum').val(); //房号
                    var param = {};
                    param.url = 'customer/isExist',
                        param.condition = {
                            cellName: cellName,
                            houseNum: houseNum
                        },
                        param.callback = function (sParam) {
                            var flag = sParam.data.isExist;
                            if (flag) {
                                layer.alert('此房源信息已存在，无需重复登记', {
                                    icon: 2
                                });
                                return
                            } else {
                                active.saveCustomer(entity); //2.提交代码保存
                            }
                        }
                    global.commonQuery(param);
                }

            })


            //***分页2***
            //1.删除
            table.on('tool(table-customerPic)', function (obj) {
                var event = obj.event,
                    jlbh = obj.data.jlbh, //记录编号
                    path = obj.data.path; //路径

                if (event == 'view') {
                    layer.open({
                        type: 1,
                        title: false, //不显示标题栏
                        closeBtn: false,
                        area: ['800px', '680px'],
                        shade: 0.8,
                        id: 'LAY_layuipro', //设定一个id，防止重复弹出
                        btn: ['关闭'],
                        btnAlign: 'c',
                        moveType: 1, //拖拽模式，0或者1
                        content: '<div class="layui-anim layui-anim-scale"> <img style="width:100%;height:auto;" src="' + url + path + '"> </div>',
                        success: function (layero) {
                        }
                    });
                } else if (event == 'del') {
                    layer.open({
                        content: '确定要删除吗？',
                        btn: ['确定', '取消'],
                        icon: 3,
                        title: '删除提示',
                        yes: function (index, layero) {
                            //调用删除接口
                            var sParam = {};
                            sParam.url = 'upload/del',
                                sParam.method = 'post',
                                sParam.entity = { jlbh: jlbh },
                                sParam.callback = function () {
                                    active.tableRelaod_customerPic({});
                                    layer.close(index);
                                }
                            global.commonDel(sParam);
                        }
                    })

                }
            })
        })
    }
</script>