<div>
    <div class="layui-form" lay-filter="layuiadmin-app-form-list" style="padding: 20px 30px 0 0;">
        <!--jlbh(隐藏)-->
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <input type="hidden" id="pop_jlbh" name="jlbh" placeholder="记录编号" autocomplete="off" class="layui-input">
            </div>
        </div>

        <!--类型、名称、登记时间-->
        <div class="layui-form-item">
            <label class="layui-form-label"><span style="color: red;">*</span>类型</label>
            <div class="layui-input-inline">
                <select id="pop_type" name="type" lay-verify="">
                </select>
            </div>
            <label class="layui-form-label"><span style="color: red;">*</span>名称</label>
            <div class="layui-input-inline">
                <input type="text" id="pop_name" name="name" lay-verify="required" placeholder="请输入名称"
                    autocomplete="off" class="layui-input">
            </div>
            <label class="layui-form-label"><span style="color: red;">*</span>登记时间</label>
            <div class="layui-input-inline">
                <input type="text" id="pop_createTime" name="createTime" lay-verify="required" placeholder="请输入登记时间"
                    autocomplete="off" class="layui-input" readonly>
            </div>
        </div>

        <!--内容-->
        <div class="layui-form-item">
            <label class="layui-form-label"><span style="color: red;">*</span>内容</label>
            <div class="layui-input-inline">
                <textarea id="pop_content" name="content" lay-verify="required" placeholder="请输入内容"
                    class="layui-textarea" style="width:810px;height:260px;"></textarea>
            </div>
        </div>

        <!--提交按钮-->
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <input type="button" lay-submit lay-filter="form-submit-unit" value="确认" class="layui-btn"
                style="float:right;margin-right: 10px; ">
        </div>
    </div>
</div>

<!--动态模板定义-->
<script type="text/html" template lay-done="layui.data.done(d)">
</script>

<script>
    layui.data.done = function (d) {
        var sParam = d.params;
        layui.use(['global', 'form'], function () {
            var $ = layui.jquery,
                form = layui.form,
                global = layui.global;

            //1.变量定义
            debugger
            var jlbh = sParam.jlbh;
            //2.方法定义
            //3.初始化
            global.pickDic({ pop_type: '资料类别' }); //字典字段初始化
            if (jlbh == undefined) {
                $('#pop_createTime').val(new Date().Format('yyyy-MM-dd'));
            } else {
                //2.赋初值(普通字段)
                $('#pop_jlbh').val(sParam.jlbh); //记录编号
                $('#pop_type').val(sParam.type); //类型
                $('#pop_name').val(sParam.name); //名称
                $('#pop_content').val(sParam.content); //内容
                $('#pop_createTime').val(sParam.createTime); //创建时间
            }
            //4.监听

        })
    }
</script>